@import '../../../../css/variables.scss';

.reply-form {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #ccc;

	textarea {
		outline: none;
		padding: 5px;
		resize: none;
		height: 100px;
		border: 1px solid #ccc;
		border-radius: 3px;
		transition: all linear .25s;

		&:focus {
			border: 1px solid #0288D1;
		}
	}

	input[type="submit"] {
		width: 25%;
		border-radius: 3px;
		background-color: $secondary-text-color;
		color: white;
		outline: none;
		height: auto;
		margin-top: 5px;
		float: right;

		&:hover {
			cursor: pointer;
		}
	}
}

.author-info {
	float: right;
	width: 20%;
	border-left: 1px solid #ccc;
	padding: 5px;

	img {
		width: 75%;
		display: block;
		margin: auto;
		margin-bottom: 15px;
	}
}