.topic {
  background-color: #fff;
  min-height: 80px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; }

/**********Left Row**********/
.row-left {
  width: 80%;
  float: left; }

.topic-title {
  border-bottom: 1px solid #eee;
  position: relative;
  padding: 10px 0;
  min-height: 36px; }
  .topic-title img {
    width: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px; }
  .topic-title h3 {
    margin-left: 45px; }

.topic-content {
  padding: 5px; }

.topic-info {
  margin-bottom: 5px;
  font-size: 0.75em;
  color: #777; }
  .topic-info .topic-info-title {
    font-weight: bold; }
  .topic-info p {
    display: inline-block;
    margin-right: 20px; }

.topic-description h4 {
  float: right;
  text-decoration: underline; }

/**********Right Row**********/
.row-right {
  width: 20%;
  float: left;
  text-align: center;
  border-left: 1px solid #ededed;
  padding: 10px 0; }

.row-right img {
  width: 50%;
  margin: auto;
  border-radius: 50%; }

.topic-meta {
  font-size: 0.8em;
  text-align: left;
  padding-left: 10%; }

.topic-meta .author {
  font-weight: bold; }

.topic-meta .date {
  font-weight: bold; }
