@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik");
.navigation-buttons {
  margin-bottom: 4%;
  color: #fff; }
  .navigation-buttons .btn {
    width: 49%;
    max-height: 32px; }
  .navigation-buttons .new-topic-button {
    display: block;
    width: 100%; }
  .navigation-buttons .back-button img {
    width: 16px;
    margin-right: 5px; }
  .navigation-buttons .back-button span {
    display: inline-block;
    vertical-align: middle; }
  .navigation-buttons .full-width.back-button {
    width: 100%; }
  .navigation-buttons:after {
    content: '';
    display: block;
    clear: both; }
