@import '../../../../css/variables.scss';

.navigation-buttons {
	margin-bottom: 4%;
	color: $btn-text-color;

	.btn {
		width: 49%;
		max-height: 32px;
	}

	.new-topic-button {
		display:block;
		width: 100%
	}
	
	.back-button {
		img {
			width:16px;
			margin-right: 5px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.full-width.back-button {
		width: 100%;
	}

	&:after {
		content:'';
		display:block;
		clear:both;
	}

}
