@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik");
.navigation-buttons {
  margin-bottom: 10px;
  color: #fff;
  box-sizing: border-box; }
  .navigation-buttons .btn {
    border-radius: 3px;
    display: inline-block;
    background-color: #7f1ae5; }
    .navigation-buttons .btn:hover {
      background-color: rgba(127, 26, 229, 0.6); }
  .navigation-buttons .new-topic-button {
    display: block; }
  .navigation-buttons .back-button {
    width: 49%; }
    .navigation-buttons .back-button img {
      width: 16px;
      margin-right: 5px; }
    .navigation-buttons .back-button span {
      display: inline-block;
      vertical-align: middle; }
  .navigation-buttons .new-comment-button {
    padding: 10px 0;
    width: 49%; }
  .navigation-buttons:after {
    content: '';
    display: block;
    clear: both; }
