@import '../../../../css/variables.scss';

.navigation-buttons {
	margin-bottom: 10px;
	color: $btn-text-color;
	box-sizing: border-box;

	.btn {
		border-radius: 3px;
		display:inline-block;
		background-color: #7f1ae5;

		&:hover {
			background-color: rgba(127,26,229, 0.6);
		}
	}

	.new-topic-button {
		display:block;
	}
	
	.back-button {
		width: 49%;

		img {
			width:16px;
			margin-right: 5px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.new-comment-button {
		padding: 10px 0;
		width:49%;
	}

	&:after {
		content:'';
		display:block;
		clear:both;
	}

}
