@import './variables.scss';

* {
	box-sizing: border-box;
}

body {
  margin: 0;  
}

html {
	margin:0;
	padding: 0;
	background-color:#ededed;
}

.container {
	max-width: 1200px;
	margin: auto;
	min-height: 600px;
}

h1,h2,h3,h4,h5,h6, p {
	padding: 0;
	margin:0;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	color:inherit;
}
.content {
	min-height: 100vh;
	margin-top: 50px;
}

.left {
	width: 20%;
	float: left;
}

.right {
	width: 80%;
	float: left;
}

.fl_c {
	clear:both;
}

/******Post******/
.post-container {
	padding: 0 15px;
}

.full-post {
	background-color: #fff;
}

.post {
	float: left;
	width: 80%;
	padding: 5px;

	.post-info {
		font-style: italic;
	}
}

.author-info {
	float: right;
	width: 20%;
	border-left: 1px solid #333;
	padding: 5px;

	img {
		width: 75%;
		display: block;
		margin: auto;
		margin-bottom: 15px;
	}
}