* {
	box-sizing: border-box;
}

body {
  margin: 0;  
}

html {
	margin:0;
	padding: 0;
	background-color:#ededed;
}
.content {
	min-height: 100vh;
		margin-top: 50px;
}
.left {
	width: 20%;
	float: left;
}
.right {
	width: 80%;
	float: left;
}