@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik');

$secondary-bg-color: #222;
$secondary-text-color: #7f1ae5;
$primary-font-stack: 'Rubik', sans-serif;
$secondary-font-stack: 'Roboto Mono', serif;